<div class="container">
  <h2>Read/Show</h2>
  <form class="search">
    <div class="form-group form-inline">
      Full text search:
      <input class="form-control ml-2" type="text" [formControl]="filter" />
    </div>
    <div>
      <button
        class="btn btn-outline-primary"
        (click)="resetSelectedUser(); open()"
      >
        Add new user
      </button>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Family</th>
        <th scope="col">Birthday</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let user of (users$ | async); index as i"> -->
      <tr *ngFor="let user of users; index as i">
        <th scope="row">{{ user.itemNum }}</th>
        <td>
          <ngb-highlight [result]="user.name" [term]="filter.value">
          </ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="user.family" [term]="filter.value">
          </ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="user.birthday" [term]="filter.value">
          </ngb-highlight>
        </td>
        <td>
          <button
            class="btn btn-outline-primary"
            (click)="setEditUser(i); open()"
          >
            edit
          </button>
          <button class="btn btn-outline-primary" (click)="delete(i)">
            delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
